/* CARROT-STYLE ILLUSTRATED WEATHER BACKGROUNDS FOR BACKCOUNTRY SKIING */

.weather-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

/* SKY GRADIENTS */
.sky-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 1.5s ease;
}

.weather-background-snow .sky-layer {
    background: linear-gradient(to bottom, #1a2a6c 0%, #2d4a8f 30%, #4a6fa5 60%, #6b8c